.modal_perfil {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1vh;
    margin: 1vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 50%, rgba(2,0,36,0.5) 100%);
    border-radius: 10px;  
    overflow: visible;
    transition: width 0.5s ease-out, height 0.8s ease-out; /* Transición suave */
    width: 50vh; /* Ancho cuando está expandido */
    height: auto; /* Altura automática cuando está expandido */
}


.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    border-radius: 10px;
    width: 100%; /* Ajusta el ancho al contenedor padre */
    transition: opacity 0.01s; /* Transición suave */
    opacity: 1; /* Inicialmente visible */
    overflow: hidden; /* Para ocultar el contenido cuando está comprimido */
}

.profileContainer.expanded {
    opacity: 1;
}

.profileContainer:not(.expanded) {
    opacity: 0;
}

.profileImage {
    margin-bottom: 20px;
}
  
.profileDetails {
    text-align: center;
}
  
.profileDetails h2 {
    margin: 0;
    font-size: 1.5em;
}
  
.profileDetails h3 {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}

.button_perfil {
    margin-top: 1vh;
    padding: 1vh;
    font-size: 1em;
    cursor: pointer;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    overflow: visible;
    z-index: 10;
}
  
.button_perfil:hover {
    background-color: #005bb5;
}
